*{ margin:0; padding:0;}
html { /*font-size: 312.5%;*/font-size: 425%; -webkit-tap-highlight-color: transparent; height: 100%; min-width:320px; overflow-x: hidden; margin:0; padding:0;}
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: .28em; line-height: 1; color: #333; margin:0; padding:0;}

.center { width: 6.4rem; margin: auto; position: relative; }
.model { top: 1.25rem; left: .20rem; width: 4.13rem; height: 6.8rem; position: relative; z-index:1;  }
.model>img { height: 100%; width: 100%; }

.pageswrapper { position: absolute; left: .36rem; bottom: 0; width: 3.44rem; height: 5.5rem; overflow: hidden; z-index:2;  }
.page { position: absolute; left: 0; top: 0; z-index:3; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; overflow: hidden; -webkit-box-align: center; -webkit-box-pack: center; -ms-box-align: center; -ms-flex-pack: justify }

.page.next { -webkit-transform: translateX(105%); -ms-transform: translateX(105%); z-index:1;}
.page.prev { -webkit-transform: translateX(-105%); -ms-transform: translateX(-105%); z-index:1; }
.page.current { z-index: 2;}
.page img{ width:100%; height:100%}

.list-text { position: absolute; right: .04rem; top: 3.42rem; }
.list-text li { display: none; }
.list-text img { width: 1.95rem; height: .8rem; }
.list-text .active { display: block; }

.btn { height: .72rem; line-height: .72rem; font-size: .30rem; padding: 0 .2rem; border-radius: .06rem;   display: inline-block; margin: 0; text-align: center;color: #fff; border: 0; background-color: #FF4545; vertical-align: middle; box-sizing: border-box; cursor: pointer; text-decoration:none;}
.down-btn { top: 4.6rem; position: absolute; right: .14rem; width: 1.66rem; z-index: 100; }


.bottom { position: absolute; left: 0; right: 0; top: 8.05rem; z-index:99; min-height: 2.75rem; bottom: 0; background: #FF4545; text-align: center; box-shadow: 0 .06rem .4rem rgba(0,0,0,.2); }
.list-ico { margin-top: .3rem; margin-bottom: .4rem; text-align:center;}
.list-ico li { display: inline-block; width: .14rem; height: .14rem; border-radius: 50%; background-color: #FFF; margin: .05rem; opacity:1; }
.list-ico li.active { background-color: #FFFFFF; opacity: 0.45; }
.logo { width: 2.5rem; margin:auto auto;}

.automove .page{-webkit-transition:  .4s;-o-transition: .4s;}


/*-----css tips start-----*/

.automove .mob_tips-bg{ background:#000; position:fixed; top:0; left:0; z-index:9998; opacity:0.6; width:100%; height:100%;}

.automove .mob_tips { position:absolute;  top:0; left:0; width:100%; z-index:9999; background:#FFF; padding-bottom:.35rem;}
.automove .mob_tips img{ width:100%;}
.automove .mob_tips .mob_img{ width:100%; margin-top:.20rem;}
.automove .mob_tips .mob_text{ font-size:.28rem; font-family:"Microsoft Yahei"; text-align:center;}
.automove .mob_tips .mob_text span{ color:#ea1d5d; line-height:.30rem;}
.automove .mob_tips{
	animation-name:mob_dowtips;
	animation-delay:mob_dowtips 1s;
	-webkit-animation-delay:mob_dowtips 1s;
	-o-animation-delay:mob_dowtips 1s;
	animation:mob_dowtips 2s;
	-webkit-animation:mob_dowtips 2s; 
	-o-animation:mob_dowtips 2s; 
}


@keyframes mob_dowtips{
0%{top:120%;}
100%{top:0;}
}
@-webkit-keyframes mob_dowtips {
0%{top:120%;}
100%{top:0;}
}
@-o-keyframes mob_dowtips {
0%{top:120%;}
100%{top:0;}
}
/*-----css tips end-----*/

@media screen and (max-width: 480px){
	html {font-size: 312.5%; }
}
